@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

:root {
  --primary: #ffff;
  --secondary: #000000;
  --purple: #8c52ff;
  --orange: #f36621;
  --1rem: 16px;
  --2rem: 32px;
  --1setengah: 24px;
  --font-regular: 300;
  --font-semibold: 900;
  --font-bold: bold;
}
* {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

/* Navigation Bar */
nav {
  /* Glass */
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* Glass end */
  color: var(--secondary);
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(194, 194, 194);
  width: 100%;
}
.logo {
  height: 80px;
  margin: 0;
  max-width: 160px;
  display: flex;
  align-items: center;
}
.logo img {
  height: 60px;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
}
nav li {
  margin-right: 30px;
}
nav .nav-link {
  color: var(--secondary);
  text-decoration: none;
  font-family: "Poppins", sans-serif !important;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  position: relative;
}
nav .nav-link::after {
  content: "";
  height: 2px;
  background-color: var(--secondary);
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  transition: all 0.3s ease;
}
nav .nav-link:hover::after {
  width: 100%;
}
/* Hamburger menu */
.menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  padding: 1px 5px;
  border-radius: 5px;
  transition: 0.2s;
}
.menu span {
  display: block;
  width: 32px;
  height: 3px;
  background-color: var(--purple);
  margin: 5px 0;
  transition: all 0.3s ease;
}
/* Hamburger menu */
#check {
  height: 28px;
  width: 42px;
  position: absolute;
  opacity: 0;
  right: 1px;
  left: -0.1px;
  cursor: pointer;
  z-index: 2;
}

/* Animasi Hamburger menu */
.menu span:nth-child(2) {
  transform-origin: 0 0;
}
.menu span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu input:checked ~ span:nth-child(2) {
  background-color: var(--orange);
  transform: rotate(45deg) translate(2.5px, -5px);
}
.menu input:checked ~ span:nth-child(4) {
  background-color: var(--orange);
  transform: rotate(-45deg) translate(0, 6px);
}
.menu input:checked ~ span:nth-child(3) {
  background-color: var(--orange);
  transform: scale(0);
}
/* Login */
.login {
  background-color: var(--purple);
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
  font-family: "Poppins", sans-serif !important;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
}
.login:hover {
  background-color: rgb(83, 23, 138);
}
/* Login End */
/* Navigation Bar End*/

/* Cari Dokter */
.find-doctor {
  margin: 6px 0 0 0;
  display: flex;
  align-items: start;
  padding: 0 10px 10px 10px;
}
.form-doctor {
  padding: 20px;
  height: 100%;
  top: 0;
  position: sticky;
  background-color: var(--purple);
  width: 25%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.form-doctor h3 {
  text-align: center;
  margin: 0 0 30px;
  color: white;
  letter-spacing: 1px;
}
.form-doctor span {
  margin-bottom: 7px;
  font-size: 15px;
  color: white;
}
.search,
.select-spesialist,
.hari {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.column {
  height: 35px;
  width: 80%;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 50px;
  text-align: center;
  color: black;
  font-weight: 300;
  font-size: 15px;
  text-transform: capitalize;
  background-color: white;
}
.cari {
  display: flex;
  justify-content: space-between;
}
.search-column {
  width: 65% !important;
}
.btn-search {
  margin-right: 89px;
  width: 13%;
  transition: all 0.3s ease;
}
.btn-search:hover {
  background-color: #cccc;
}
.jam span {
  margin-bottom: 2px;
}
.jam label {
  color: white;
  font-size: 12px;
}
/* Foto Doctors */

.foto-doctor {
  height: 1680px;
  width: 75%;
  margin-left: 12px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 2px;
  z-index: -1;
}
.foto-doctor h3 {
  font-size: 30px;
}
.medicine-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.medicine-items {
  border-radius: 10px;
  /* height: 610px; */
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.medicine-items img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: all 0.66s ease-in-out;
}
.medicine-items img:hover {
  transform: scale(1.1);
}
.medicine-items .accordion {
  background-color: var(--primary);
  color: var(--secondary);
  cursor: pointer;
  text-align: center;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: var(--font-bold);
  margin: 0;
  transition: all 0.4s ease;
  position: relative;
  z-index: 99;
}
.active,
.accordion:hover {
  background-color: var(--purple);
  color: aliceblue;
}
.panel {
  padding: 0 18px;

  background-color: white;
  overflow: hidden;
}
.panel p {
  margin: 0;
}
/* Foto Doctors End */
/* Cari Dokter End */
/* Footer */
footer {
  display: block;
  background-color: #404040;
  color: var(--primary);
  padding: var(--2rem) var(--2rem) 17px var(--2rem);
  height: 100%;
  max-width: 100vdh;
  z-index: -999;
}
.footer-left h3 {
  margin: 0;
  font-weight: var(--font-semibold);
}
.footer-left p {
  font-size: var(--1rem);
  margin: 0;
}
.footer-right {
  display: flex;
  justify-content: space-around;
  height: 180px;
}
.footer-grid h4 {
  font-weight: var(--font-semibold);
}
.footer-grid ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-grid li {
  margin-bottom: 7px;
}
.footer-link {
  position: relative;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.2s ease;
}
.footer-link::after {
  content: "";
  position: absolute;
  background-color: var(--orange);
  height: 1px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: all 0.3s ease-in-out;
}
.footer-link:hover::after {
  width: 100%;
}
.footer-link:hover {
  color: var(--orange);
}
.footer-bottom {
  text-align: center;
}
.footer-bottom-reserved p {
  margin: 0;
  padding: 15px 0 10px 0;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}
iframe {
  height: 100%;
  width: 100%;
  margin-left: 30px;
  border-radius: 5px;
}
.social-media {
  height: 60px;
  background-color: rgb(68, 68, 68);
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-brands {
  color: white;
  margin: 0 6px;
  transition: all 0.3s ease;
}
.fa-brands:hover {
  color: var(--orange);
}
/* Footer End */

/* Responsive */
/* Tablet 768px */
@media (max-width: 768px) {
  .find-doctor {
    flex-direction: column;
  }
  /* Navbar */
  .ul-nav {
    width: 50%;
  }
  .ul-nav li a {
    font-size: 12px;
  }
  .logo img {
    height: 70% !important;
    width: auto;
  }
  /* Navbar End */
  /* Filter */
  .form-doctor {
    top: 0;
    flex-direction: row;
    width: 100%;
    position: relative;
  }
  .filter-doctor {
    display: grid;
    padding: 0 20px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  /* Filter End */
  /* Foto Dokter */
  .medicine-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .form-doctor,
  .foto-doctor {
    margin: 0;
    padding: 0;
  }
  .foto-doctor {
    width: 100%;
  }
  .foto-doctor h3 {
    font-size: 24px;
  }
  /* Foto Dokter End */
  /* Footer */
  footer {
    margin-top: 1480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 900px !important;
  }
  .footer-right {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .info {
    position: relative;
    top: -100px;
  }
  .location {
    margin-top: 25px;
    padding: 20px;
    width: 100%;
  }
  .social-media {
    position: relative;
    top: 230px;
  }
  .footer-bottom {
    position: relative;
    top: 90px;
  }
}

/* Mobile */
@media (max-width: 512px) {
  /* Foto Doctor */
  /* Navbar */
  nav {
    justify-content: space-between;
    width: 100%;
    height: 70px;
  }
  .menu {
    display: flex;
    margin-right: 30px;
  }
  .ul-nav {
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    right: 0;
    z-index: 9 !important;
    top: 0;
    margin-top: 67px;
    height: 90vh;
    width: 100%;
    background-color: var(--purple);
    transform: translateX(100%);
    transition: all 1s ease;
    opacity: 0;
  }
  .ul-nav.slide {
    transform: translateX(0);
    opacity: 1;
  }
  .ul-nav li a {
    font-size: 11px;
    color: white;
  }
  nav .nav-link::after {
    background-color: var(--primary);
  }
  nav .menu {
    display: block !important;
    position: relative;
    right: 10px;
    z-index: -1;
  }
  .logo img {
    height: 60% !important;
    width: auto;
  }
}
/* Navbar End */
.form-doctor{
  position: relative;
  z-index: -1;
}
.accordion {
  font-size: 1px;
}
.panel p {
  font-size: 10px;
}

/* Responsive End */
