@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
  --primary: #ffff;
  --secondary: #000000;
  --purple:#8C52FF;
  --orange:#F36621;
  --1rem: 16px;
  --2rem: 32px;
  --1setengah: 24px;
  --font-regular: 300;
  --font-semibold: 900;
  --font-bold: bold;
}
* {
  font-family: "Inter", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3;
  max-width: 100vdh;
}

/* Navigation Bar */
header {
  background-color: white;
  color: var(--secondary);
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgb(194, 194, 194);
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.logo img {
  height: 60px;
}
nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}
nav li {
  margin-right: 30px;
}
nav a {
  color: var(--secondary);
  text-decoration: none;
  font-family: 'Poppins', sans-serif !important;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  position: relative;
}
nav a::after{
  content: "";
  height: 2px;
  background-color: var(--secondary);
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  transition: all 0.3s ease;
}
nav a:hover::after {
 width: 100%;
}
/* Navigation Bar End*/
/* Hero Section */
.hero-section {
  background-image: url(../img/BGimgae.png);
  background-size: cover;
  height: 1000px;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: center;
  /* animation: animate 30s ease-in-out infinite; */
}
/* @keyframes animate{
  0%,100%{
    background-image: url(/img/BGimgae.png);
  }
  25%{
    background-image: url();
  }
  50%{
    background-image: url();
  }
  75%{
    background-image: url();
  }
} */
.hero-content {
  text-align: left;
  margin-left: 90px;
  margin-bottom: 90px;
}
.hero-content h1 {
  font-size: 65px;
  font-weight: var(--font-bold);
  margin: 0;
}
.hero-content p {
  font-size: 30px;
  font-weight: 500;
  margin: 0 auto;
  line-height: 1.6;
}
.btn{
  justify-content: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  min-width: 600px;
  font-family: "poppins", sans-serif !important;
}
 .btn .btn-about{
  background-color: var(--purple);
  font-size: var(--1rem);
  color: var(--primary);
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition:all .55s ease;
  margin-right: 20px;
}
 .btn .btn-about:hover {
  background-color:  rgb(83, 23, 138);
  color: var(--primary);
  /* border: 2px solid var(--primary); */
  transform: translateY(-8px);
}
.btn .btn-find-doctor{
  background-color: transparent;
  font-size: var(--1rem);
  font-weight: var(--font-semibold);
  color: var(--purple);
  padding: 15px 30px;
  border: 2px solid var(--purple);
  border-radius: 50px;
  cursor: pointer;
  transition: all .55s ease;
}
 .btn .btn-find-doctor:hover {
  transform: translateX(8px);
}
/* Hero Section End */

/* Doctors Section */
.medicine-section {
  padding: var(--2rem);
  text-align: center;
}
.medicine-section h3 {
  font-size: var(--1setengah);
  font-weight: var(--font-semibold);
}
.medicine-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--1rem);
}
.medicine-items {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.medicine-items img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.medicine-items p {
  font-size: var(--1rem);
  font-weight: var(--font-semibold);
  margin: 0;
  padding: 10px;
}
/* Doctors Section End */

/* Testimonial Section */
.testimonial-section {
  padding: var(--2rem);
  text-align: center;
}
.testimonial-section h3 {
  font-size: var(--1setengah);
  font-weight: var(--font-semibold);
}
.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--1rem);
}
.testimonial-items {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.testimonial-items img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.testimonial-items-text {
  margin: 0;
  padding: 10px;
}
.testimonial-items h3 {
  font-size: var(--1rem);
  font-weight: var(--font-semibold);
}
.testimonial-items p {
  font-size: var(--1rem);
  font-weight: var(--font-regular);
}

/* Testimonial Section End */

/* Footer */
footer {
  background-color: #333;
  color: var(--primary);
  padding: var(--2rem);
  max-height: 370px;
  max-width: 100vdh;
}
.footer-left h3 {
  margin: 0;
  font-weight: var(--font-semibold);
}
.footer-left p {
  font-size: var(--1rem);
  margin: 0;
}
.footer-right {
  display: flex;
  justify-content: space-around;
  height: 180px ;
}
.footer-grid h4 {
  font-weight: var(--font-semibold);
}
.footer-grid ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-grid li {
  margin-bottom: 7px;
}
.footer-link {
  position: relative;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.2s ease;
}
.footer-link::after {
  content: "";
  position: absolute;
  background-color: var(--orange);
  height: 1px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: all 0.3s ease-in-out;
}
.footer-link:hover::after {
  width: 100%;
}
.footer-link:hover{
  color: var(--orange);
}
.footer-bottom {
  text-align: center;
}
.location{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}
iframe{
  height: 100%;
  width: 100%;
  margin-left: 30px;
}
.social-media{
  height: 60px;
  background-color: rgb(68, 68, 68);
  width: 100%;
  margin-top: 20px;
}
.fa-brands{
  width: 100px;
}
/* Footer End */
